
  <div class="container">
    <div class="row">
        <!--Sobre mi-->
        <div class="col-lg shadow border m-1 col-lg-12 d-flex flex-column align-items-center justify-content-center ">
            <div class="text-center">
                <h2>Sobre mi</h2>
                <img src="assets/images/fotoperfil.jpg" alt="profile picture" width="236" height="256" class="rounded-circle">
                <p><b>Soy Eduardo Franco Angulo, Te voy a contar un poco sobre mi para que puedas conocerme. Arranque con curiosidad en la programación en el año 2021, en la Universidad Tecnológica del Sur de Sonora. 
                    Me apasiona y desafía aprender cosas nuevas. El mundo de la programación es muy amplio y constantemente surgen nuevas tecnologías, nuevas versiones o nuevas herramientas. Este constante cambio hace que siempre tenga ganas de superarme.No lo sé todo, pero te puedo asegurar que voy a ser insistente. Voy a investigar, preguntar y no voy a parar hasta aprender lo que necesito.</b></p>
            </div>
        </div>
    </div>
</div>
<div class="download-cv-container">
    <a href="https://drive.google.com/file/d/1pTfWKPREK9zkWYxhfxDbe-Q1xbRj0O6K/view" class="btn btn-primary download-cv-button">Descargar CV</a>
  </div>
  <img src="assets/images/vector.jpg" alt="profile picture" width="230" height="230" class="rounded-circle">
 <!-- <img src="assets/images/mmd.jpg" alt="profile picture" width="230" height="230" class="rounded-circle" style="float: right;">-->


 