
  <div class="container">
    <div class="row">
        <!--Sobre mi-->
        <div class="col-lg shadow border m-1 col-lg-12 d-flex flex-column align-items-center justify-content-center ">
            <div class="text-center">
                <h2>Sobre mi</h2>
                <img src="assets/images/fotoperfil.jpg" alt="profile picture" width="236" height="256" class="rounded-circle">
                <p>Soy Eduardo Franco Angulo, una persona comprometido y responsable, siempre buscando soluciones a los problemas que se presentan en mi camino. Capaz de transmitir ideas de manera clara y concisa. Mi pensamiento crítico me permite analizar situaciones desde diferentes perspectivas y tomar decisiones informadas. Disfruto trabajar en equipo, donde puedo colaborar y aprender de otros mientras contribuyo con mis propias habilidades. Estoy constantemente desarrollando mis habilidades técnicas para mantenerme actualizado en un mundo en constante cambio.</p>
            </div>
        </div>
    </div>
</div>