<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contactate:</h1>
            <p>Personal: <b>Eduardo Franco Angulo</b></p>
            <p>Correo electronico: <b>ef058946gmail.com</b></p>
    </div>
    <div class="list-group shadow">
            <a href="//instagram.com/eduardo_fr16" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="../../assets/instagram.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
                <h3 class="mb-0">Instagram</h3>
            </a>
            <a href="//github.com/Eduardo1655555" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="../../assets/github.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
                <h3 class="mb-0">Github</h3>
            </a>
    </div>
</div>

<div class="container">
    <div class="text-center border mb-5 shadow rounded">
            <p>Personal manager:   <b>Luis Carlos Peraza Arballo</b></p>
            <p>Correo electronico: <b>easyone9636gmail.com</b></p>
    </div>
    <div class="list-group shadow">
            <a href="//github.com/EasyOnee" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="../../assets/github.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
                <h3 class="mb-0">Github</h3>
            </a>
    </div>
</div>
