<br>

<div class="card flex justify-content-center">
    <p-accordion  [multiple]="false" [activeIndex]="[0]">
        <p-accordion >
            <p-accordionTab header="Skills">
                <div class="row">
                    <div class="col left">
                        <h3>Lenguajes de Programación</h3>
                        <ul>
                            <li>C#</li>
                            <li>TypeScript</li>
                        </ul>
                    </div>
                    <div class="col center">
                        <h3>Frameworks</h3>
                        <ul>
                            <li>Angular</li>
                            <li>React</li>
                            <li>Node.JS</li>
                        </ul>
                    </div>
                    <div class="col right">
                        <h3>Otras habilidades</h3>
                        <ul>
                            <li>Trabajo en equipo</li>
                            <li>Adaptabilidad</li>
                            <li>Resolución de problemas</li>
                        </ul>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>

        <p-accordionTab  header="Certificaciones de cursos">
            <h3>Tester</h3>
            <ul>
            <li>Puntuaje 8.75</li>
            <li>Equivalente a 28hrs</li>
            <li>Obtenido el dia 06 de Noviembre del 2022</li>
            </ul>

            <h3>Diseñador de experiencia de usuario (UX)</h3>
            <ul>
            <li>Puntuaje 8.22</li>
            <li>Equivalente a 51hrs</li>
            <li>Obtenido el dia 26 de Marzo del 2023</li>
            </ul>
        </p-accordionTab>


        <p-accordionTab header="Mis estudios">
        <h3>Estudios universitarios:</h3>
        <ul>
            <li>Técnico Superior Universitario: Tecnologías de la Información: Área Desarrollo de Software Multiplataforma</li>
            <li>Estudiando: Ingeniería en Desarrollo y Gestión de Software</li>
        </ul>
        </p-accordionTab>
    </p-accordion>
</div>


