<div class="cards-container">
    <div class="card flex">
        <p-card header="DIDACTI-K" subheader="Angular, Node.js y MongoDB" [style]="{ width: '100%' }">
            <ng-template pTemplate="header">
                <img alt="Card"  src="assets/images/Dida.png" />
            </ng-template>
            <p>
                DIDACTI-K es un sistema diseñado para ayudar a los docentes en la elaboración de sus planeaciones escolares.
            </p>
        </p-card>
    </div>
    <div class="card flex">
        <p-card header="AQUA CONTROL CONECT" subheader="Angular y Firebase" [style]="{ width: '100%' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/Agua.png" />
            </ng-template>
            <p>
                AQUA CONTROL CONECT es un sistema para medir el consumo de agua por hogar.
            </p>
        </p-card>
    </div>
    <div class="card flex">
        <p-card header="PayTrack" subheader="React,Node.js y MongoDB" [style]="{ width: '100%' }">
            <ng-template pTemplate="header">
                <img alt="Card"  src="assets/images/Pay.png" />
            </ng-template>
            <p>
                Paytrack es una plataforma digital para gestionar pagos escolares de manera eficiente y segura.
            </p>
        </p-card>
    </div>
</div>  
